/* In your font.css file or wherever the font is defined */
.hanken-grotesk-regular {
  font-family: "Hanken Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

:root {
     --font-hanken: 'Hanken Grotesk', sans-serif;
}

nav {
     font-family: var(--font-hanken);
}